<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>RABB1TS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Make your B1T transactions te be a carrot and earn RB1TS" />
    <link rel="icon" href="favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>
    <div id="top" role="document">
    <div class="page">

    <header class="page__header">
        <div class="container section">
            <h1><a href="/">RABB1TS</a></h1>
            <p><b>Make your B1T transactions te be a carrot and earn RB1TS.</b></p>
            <p>If your transaction txid starts with 2 or more zeros you earn RB1TS. The more zeros the more you earn!</p>
            <p>Don't be cheesy, mine transactions not blocks!</p>
        </div>
        <div class="ribbon-wrapper-yellow"><div class="ribbon-yellow">WIP</div></div>
    </header>

    <main class="page__content">
        <section id="text" class="container">
            <table>
                <tr style="border: 0;">
                    <td style="width: 50%;padding: 0">
                        <h2 class="subtitle1">RB1TS links</h2>
                        <ul style="margin-top: 15px;padding-right: 15px;">
                            <li>Check your B1T address's <a href="balances">RB1TS balance</a>.</li>
                            <li>Read the <a href="protocol">RB1TS Protocol</a> to learn more about My Hash Is RB1TS project.</li>
                            <li>Download the <a href="https://github.com/bittoshimoto/Rabb1ts/">Nicesigner</a> written in Rust to start mining your transactions.</li>
                            <li>Follow us on Twitter/X: <a href="https://x.com/bittoshimo">https://x.com/bittoshimo</a>.</li>
                            <li>Make a donation to support the development and maintenance of this site: <b>BQEJpqsrKVGdDriCo3msLRwXbBuzf2f6nw</b></li>
                        </ul>
                    </td>
                    <td style="width: 50%;padding: 0">
                        <h2 class="subtitle1">RB1TS numbers</h2>
                        <ul style="margin-top: 15px">
                            <li>Last Parsed Block: {{ stats["last_parsed_block"] }}</li>
                            <li>RB1TS Supply: {{ '{:,}'.format(stats["supply"] / 10**8) }}</li>
                            <li>RB1TS Hashes Count: {{ '{:,}'.format(stats["nice_hashes_count"])  }}</li>
                            <li>Rabb1test Hash: {{ display_utxo(stats["nicest_hash"]) | safe }}</li>
                            <li>Last  Hash: {{ display_utxo(stats["last_nice_hash"]) | safe }}</li>
                            <li>First RB1TS Hash: {{ display_utxo(stats["first_nice_hash"]) | safe }}</li>
                            <li>UTXOs Count: {{ '{:,}'.format(stats["utxos_count"])  }}</li>
                        </ul>
                    </td>
                </tr>
            </table>
            
        </section>
        <section id="text" class="container">
            <h2 class="subtitle2">Last RB1TS hashes</h2>
            <div class="table-wrapper">
                <table>
                    <tr>
                    <th>Block</th>
                    <th>Txid</th>
                    <th>Reward</th>
                    </tr>
                    {% for reward in rewards %}
                    <tr>
                        <td>{{ reward["height"] }}</td>
                        <td>{{ display_utxo(reward["txid"], True) | safe }}</td>
                        <td style="text-align: right;">{{ display_quantity(reward["reward"]) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>
    
    </div>  <!-- page -->
    
    </div>  <!-- top -->


</body>
</html>